.table-container {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
    border: 1px solid var(--border-black-lightest);
    box-shadow: var(--box-shadow-1);
}

.table-wrapper {
    overflow: auto;
    max-height: 55vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    font-size: 0.85rem;
    font-family: var(--font-medium);
    letter-spacing: 0.03rem;
    position: sticky;
    top: 0;
    background: var(--primary-lightest);
    z-index: 3;
}

tbody tr {
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        background: var(--primary-lightest);
    }
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--black-tint-sm);
}
td {
    font-size: 0.8rem;
    font-family: var(--font-regular);
    letter-spacing: 0.03rem;
}

.action-btn {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
}

.img-wrap {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-placeholder {
        width: 100%;
        height: 100%;
        background: var(--black-tint); // black fallback
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.frozen {
    position: sticky;
    left: 0;
    background: white;
    z-index: 4;
}

.table-checkbox {
    transform: scale(0.8);
}

.table-toolbar {
    display: flex;
    gap: 1rem;

    .table-search {
        width: 22rem;

        .icon {
            padding: 0.5rem 0.7rem;
        }
    }

    .filter-trigger {
        width: auto;
        height: 2.5rem;
        font-size: 0.9rem;
        font-family: var(--font-regular);
        letter-spacing: 0.04rem;
        display: inline-flex;
        outline: none;
        background: white;
        align-items: center;
        padding: 0.3rem 1rem;
        justify-content: center;
        border-radius: var(--radius-sm);
        border: 1px solid var(--primary-light);
        color: var(--black-tint);
        gap: 0.5rem;
    }

}

.loader-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}