
.welcome-card {
    position: relative;
    overflow: hidden;

    &.morning, &.afternoon {
        .bkg-img {
            background-position: right center;
        }

        .overlay {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &.evening {
        .bkg-img {
            background-position: 70% 0%;
        }
    }

    .bkg-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .overlay {
        //background: rgba(0, 0, 0, 0.2);
        //background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 60%);

        //background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 100%);
    }

    .card-content {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;

        .top {
            .major {
                font-size: 1.4rem;
                font-family: var(--font-medium);
                letter-spacing: 0.03rem;
                text-shadow: var(--card-shadow);
                // -webkit-text-stroke: 1px white;
                // -webkit-text-fill-color: transparent;
                color: white;
            }

            img {
                width: auto;
                height: 3rem;
                display: none;
            }
        }

        .btm {
            .date {
                display: flex;
                flex-direction: column;
                text-shadow: var(--card-shadow);

                span {
                    font-size: 1rem;
                    font-family: var(--font-regular);
                    line-height: 1.3;
                    letter-spacing: 0.04rem;
                    text-shadow: var(--card-shadow);
                    color: white;

                    // @include screen-media-max(md) {
                    //     font-size: 0.9rem;
                    //     line-height: 1.3;
                    // }

                    &:first-child {
                        font-size: 1.5rem;
                        margin-bottom: 0.2rem;
                        font-family: var(--font-medium);
                        // -webkit-text-stroke: 1px white;
                        // -webkit-text-fill-color: transparent;

                        // @include screen-media-max(md) {
                        //     font-size: 0.9rem;
                        // }
                    }
                }
            }
        }
    }
}

.trigger-card {

    .triggers {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        justify-content: space-between;
        box-shadow: var(--card-shadow);
        border-radius: var(--radius-sm);
        border: 1px solid var(--primary-lightest);

        &.rd {
            .trigger {
                font-size: 0.7rem;
            }
        }

        .trigger {
            font-size: 0.85rem;
            font-family: var(--font-medium);
            letter-spacing: 0.04rem;
            text-align: center;
            padding: 0.25rem 0;
            cursor: pointer;
            border-radius: var(--radius-sm);
            transition: all 0.4s ease;

            &.active {
                background: var(--primary-light);
            }
        }
    }

    // .card-details {

    //     .listed-items {
    //         display: none;
    //     }
    // }
}