// ----------------------------------------------------------------------------------------------
// NOTE Variables -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------
@use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap";
@import './helpers/mixins';
@import './components/components-dir';
@import './helpers/helpers-dir';
@import './base/base-dir';

// ----------------------------------------------------------------------------------------------
// NOTE Overwrite styles ------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------


html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: var(--font-family), Roboto; 
}

@include mat.form-field-density(-1);

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    font-size: 0.85rem;
    font-family: var(--font-family);

    @include screen-media-min(md) {
        font-size: 0.9rem;          
    }
}

.mat-mdc-input-element,
.mat-mdc-input-element::placeholder {
    font-size: 0.85rem;   
    font-family: var(--font-family);
}

.otp-input {
    outline: none;
}

/* Default border */
.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
    border-color: var(--primary-light-md) !important;
}

/* Focus border */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
    border-color: var(--primary) !important;
    //#e91e63 !important; /* your color */
}