<div class="row-section d-flex justify-content-between align-items-center">
    <div class="page-header">Appraisal Management</div>
    <div *ngIf="periodInView" class="main-actions d-flex justify-content-start align-items-center gap-3">
        <mat-form-field class="field compact-field lg no-base" appearance="outline" [style.width]="'12rem'">
            <mat-label>Select Period</mat-label>
            <mat-select
                class="selectField"
                disableOptionCentering
                panelClass="compact-dropdown"
                [(ngModel)]="periodName"
                (ngModelChange)="onPeriodChange($event)"
                style="font-size: 0.7rem;"
            >
                <mat-option *ngFor="let option of periodOptions | keyvalue: keepOrder" [value]="option.key">{{option.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *hasRole="['superAdmin']" class="field compact-field lg no-base" appearance="outline" [style.width]="'12rem'">
            <mat-label>Change Period Status</mat-label>
            <mat-select
                class="selectField"
                disableOptionCentering
                panelClass="compact-dropdown"
                [(ngModel)]="periodStatus"
                (ngModelChange)="onPeriodStatusChange($event)"
                style="font-size: 0.7rem;"
            >
                <mat-option *ngFor="let option of periodStatusOptions | keyvalue: keepOrder" [value]="option.key">{{option.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *hasRole="['superAdmin']" (click)="openPeriodModal(periodInView)" class="cta cta-primary icon lg">
            <app-icon [iconName]="'calendarClock'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon>
        </div>

        <div *hasRole="['superAdmin']" (click)="deleteAppraisalPeriod(periodInView)" class="cta cta-warning icon lg">
            <app-icon [iconName]="'trash'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon>
        </div>

        <div *hasRole="['superAdmin']" (click)="openPeriodModal()" class="cta cta-primary icon lg">
            <app-icon [iconName]="'calendarPlus'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon> New Period
        </div>
    </div>
</div>

<div class="row-section d-flex justify-content-between mt-4">
    <div class="col-section card-xsm">
        <div class="col-card">
            <div class="hdr">
                <div class="title">Submissions</div>
            </div>
            <div class="request-container">
                <!-- LOADER -->
                <div *ngIf="isLoading" class="request-wrap w-100 d-flex justify-content-center">
                    <app-data-loading></app-data-loading>
                </div>
                <div *ngIf="!isLoading && appraisalRequests && !appraisalRequests.length" class="request wrap w-100 justify-content-center">
                    <app-no-data 
                        [height]="'15rem'"
                        [message]="'There are no appraisal requests'" 
                        [imageUrl]="'assets/img/project/illustrations/entity.png'" 
                        [messageFontSize]="'1rem'"
                    ></app-no-data>
                </div>
                <div *ngIf="!isLoading && appraisalRequests && appraisalRequests.length" class="request-wrap">
                    <div (click)="viewAppraisalInfo(employee)" *ngFor="let employee of appraisalRequests" class="request-hld">
                        <div class="inner"
                            [ngClass]="{
                                'inReview': employee.status == 'Awaiting Manager Review',
                                'reviewed': employee.status == 'Manager Reviewed',
                                'pending': employee.status === 'Pending'
                            }"
                        >
                            <div class="det">
                                <div class="image rd bkg-standard" style="background-image: url('{{employee.profilePic}}');"></div>
                                <div class="info">
                                    <div class="title">{{employee.fullName}}</div>
                                    <div class="role">
                                        <span>{{employee.designation}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="det mt-3">
                                <span class="date">{{employee.employeeSubmissionDate | date: 'dd MMMM, yyyy | hh:mm a'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-section card-xlg">
        <div class="col-card matrix-container">
            <div class="hdr">
                <div class="title">Appraisal Matrix</div>
            </div>

            <div class="card-cont py-3 px-3 d-flex justify-content-end">
                
                <div class="matrix-wrap">
                    <div *ngFor="let slot of matrixSlots; let i = index" class="cont matrix-hld">
                        <div class="stacked-items lg">
                            <div class="stack fill">
                                <span
                                    *ngFor="let staff of matrixItems[i]?.staff"
                                    (click)="viewAppraisalInfo(staff)"
                                    [style.background-image]="'url(' + staff.profilePic + ')'"
                                ></span>
                            </div>
                        </div>
                    </div>

                    <div class="rating horizontal">
                        <div class="name">Low</div>
                        <div class="name">Moderate</div>
                        <div class="name">High</div>
                    </div>

                    <div class="rating vertical">
                        <div class="name">Low</div>
                        <div class="name">Moderate</div>
                        <div class="name">High</div>
                    </div>

                    <div class="arrow horizontal">
                        <div class="line"><span>Performance</span></div>
                        <div class="point"></div>
                    </div>

                    <div class="arrow vertical">
                        <div class="line"><span>Potential</span></div>
                        <div class="point"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>