
.col-card {
    width: 100%;
    height: 72vh;
    overflow: hidden;
    border-radius: var(--radius-sm);
    border: 1px solid var(--blak-tint-mmd);
    box-shadow: var(--card-shadow);

    .hdr {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        padding: 0 1rem;
        background: var(--primary);
        color: white;

        .title {
            font-size: 0.9rem;
            letter-spacing: 0.04rem;
            font-family: var(--font-medium);
        }
    }
}

.request-container {
    width: 100%;
    height: calc(100% - 3rem);
    overflow: auto;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .request-wrap {
        display: flex;
        flex-direction: column;
        padding: 0.8rem 0.5rem;
        gap: 1rem;

        .request-hld {
            cursor: pointer;

            .inner {
                padding: 0.8rem 0.7rem;
                border: 1px solid var(--black-tint-sm);
                border-radius: var(--radius-sm);

                &.pending {
                    background: var(--yellow-theme-lightest);

                    .det {
                        .date {
                            color: var(--yellow-theme);
                        }
                    }
                }

                &.reviewed {
                    background: var(--green-theme-lightest);

                    .det {
                        .date {
                            color: var(--green-theme);
                        }
                    }
                }

                .det {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .image {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top center;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        line-height: 1;
                        letter-spacing: 0.03rem;
                        gap: 0.3rem;

                        .title {
                            font-size: 0.8rem;
                            font-family: var(--font-medium);
                            color: black;
                        }

                        .role {
                            font-size: 0.75rem;
                            font-family: var(--font-regular);
                            color: var(--blak-tint);
                        }
                    }

                    .date {
                        line-height: 1;
                        display: inline-block;
                        font-size: 0.7rem;
                        font-family: var(--font-regular);
                    }
                }
            }
        }
    }
}

.matrix-container {
    position: relative;

    .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 2;

        &.horizontal {
            bottom: -5rem;
            width: 100%;
            right: 0;
        }

        &.vertical {
            top: 44%;
            width: 25.2rem;
            transform: rotate(-90deg);
            left: -16rem;

            .line {

                span {
                    margin-left: 10%;
                }
            }
        }

        .line {
            flex: 1;
            display: flex;
            font-size: 0.8rem;
            font-family: var(--font-medium);
            letter-spacing: 0.1rem;
            color: var(--warning);
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            background: var(--primary-light);
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            height: 1.6rem;
        }

        .point {
            width: 0;
            height: 0;
            //border-radius: var(--radius-sm);
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 35px solid var(--primary-light);
        }
    }

    .rating {
        display: flex;
        position: absolute;
        z-index: 2;

        &.horizontal {
            width: 100%;
            bottom: -2rem;
        }

        &.vertical {
            top: 47%;
            width: 25.2rem;
            justify-content: space-around;
            transform: rotate(-90deg);
            left: -13.5rem;
        }

        .name {
            width: 32.5%;
            font-size: 0.75rem;
            font-family: var(--font-medium);
            letter-spacing: 0.06rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-tint);
            text-transform: uppercase;
        }
    }

    .card-cont {
        position: relative;

        &:first-child {
            overflow: hidden;
            margin-bottom: 1rem;
        }

        .appraisal-hdr {
            .detail {
                //color: var(--primary);

                i {
                    font-size: 1.1rem;
                }

                span {
                    font-size: 1rem;
                    font-family: var(--font-bold);
                    letter-spacing: 0.02rem;
                }
            }
        }

        .matrix-wrap {
            width: 89%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            gap: 0.6rem 0;
        
            .matrix-hld {
                width: 32.5%;
                height: 8rem;
                padding: 0.6rem 1rem;
                border: 1px solid var(--black-tint-sm);
                border-radius: var(--radius-sm);
                box-shadow: var(--card-shadow);
            }
        }
    }
    
}