<div class="content-wrap">
    <div class="inner-wrap">
        <div class="row-section d-flex justify-content-between align-items-center">
            <div class="page-header">Employees <span *ngIf="employees && employees.length > 0" class="count">{{paging.total}}</span></div>
            <div class="main-actions d-flex justify-content-start align-items-center">
                <div (click)="openEmployeeModal()" class="cta cta-primary icon lg">
                    <app-icon [iconName]="'userPlus'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon> New Employee
                </div>
            </div>
        </div>

        <div class="row-section mt-4">
            <app-dynamic-table
                [columns]="tableColumns"
                [showCheckbox]="true"
                [data]="employees"
                [paging]="paging"
                [filters]="tableFilters"
                [bulkActions]="bulkActions"
                [loading]="isLoading"
                [emptyDataMessage]="'No employee records found.'"
                [emptyDataImage]="'assets/img/project/illustrations/user.webp'"
                (rowClick)="viewRow($event)"
                (bulkAction)="onBulkAction($event)"
                (actionClick)="onTableAction($event)"
                (pagingChange)="onPagingChange($event)"
                (searchChange)="onSearchChange($event)"
                (filterChange)="onFilterChange($event)"
                (selectionChange)="onSelectionChange($event)"
            ></app-dynamic-table>
        </div>
    </div>
</div>