<div class="header only-desktop">
    <app-header-search-panel></app-header-search-panel>

    <div class="user-actions">
        <span (click)="openSupportModal()" role="button">
            <app-icon [iconName]="'circleQuestionMark'" [iconWidth]="22" [iconHeight]="22"></app-icon>
        </span>
        <span [matMenuTriggerFor]="notificationsMenu" role="button">
            <app-icon [iconName]="'bell'" [iconWidth]="22" [iconHeight]="22"></app-icon>
            <div *ngIf="notificationBadgeCount > 0" class="badge">{{notificationBadgeCount}}</div>
        </span>
        <mat-menu #notificationsMenu="matMenu" xPosition="before" (closed)="markAllAsRead()" class="xl">
            <app-notifications-panel [notifications]="notifications"></app-notifications-panel>
        </mat-menu>
        <span (click)="goToCalendar()" role="button">
            <app-icon [iconName]="'calendarRange'" [iconWidth]="22" [iconHeight]="22"></app-icon>
        </span>
        <div class="user">
            <div class="info">
                <span>{{userName}}</span>
                <span class="text">{{userRole}}</span>
            </div>
            <div [matMenuTriggerFor]="accountOptions" *ngIf="profilePhoto" class="photo bkg-standard" style="background-image: url('{{profilePhoto}}');"></div>
            <div [matMenuTriggerFor]="accountOptions" *ngIf="!profilePhoto" class="initials d-flex flex-center">{{systemAdminLoggedIn ? 'SA' : userDetails.isSuperAdmin ? userName[0] : userDetails.firstName[0]}}{{systemAdminLoggedIn ? '' : userDetails.isSuperAdmin ? userRole[0] : userDetails.lastName[0]}}</div>
            <mat-menu #accountOptions="matMenu" class="account-wrap">
                <div class="items-wrap">
                    <div (click)="logout()" class="item"><i class="bi bi-box-arrow-left"></i> <span>Logout</span></div>
                </div>
            </mat-menu>
        </div>
    </div>
</div>
