<div class="modal-wrap">
    <section class="modal-header">
        <div class="illustration">
            <div class="img-wrap">
                <img src="assets/img/project/illustrations/stopwatch.webp" alt="">
            </div>
        </div>

        <div class="details">
            <div class="title">Leave Assignment</div>
            <div class="preamble">Enter the assigned days for each leave type.</div>        
        </div>        
    </section>

    <section class="modal-body">
        <app-dynamic-form
            [fields]="formFields"
            [isLoading]="isLoading"
            (formAction)="handleFormAction($event)"
        ></app-dynamic-form>
    </section>
</div>