
.form-wrap {
    gap: 1rem 0;

    .field-wrap {
        position: relative;

        .cta-add {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.7rem;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: var(--radius-sm);
            transform: translateY(-50%);
            background: var(--primary);
            color: white;
            right: 0.4rem;
            top: 1.6rem;
        }
    }
}

.accordion {

    .accordion-item {
        background-color: white;
        border: 1px solid var(--primary-light);
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);
        border-radius: var(--radius-md);
    }
}


.sidenav-container {
    width: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.3);
    right: 0;
    top: 0;
    z-index: 7;

    &.opened {
        width: 100%;
    }

    .sidenav-bkg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    .sidenav-content {
        width: 0;
        opacity: 0;
        height: 100%;
        overflow: scroll;
        position: absolute;
        background-color: white;
        transition: all 0.7s ease;
        -webkit-box-shadow: -20px 0 25px -10px rgba(0,0,0,0.2);
        box-shadow: -20px 0 25px -10px rgba(0,0,0,0.2);
        right: 0;
        top: 0;
        z-index: 3;

        &.opened {
            opacity: 1;
            width: 50%;
        }
    }
}
