@import 'src/assets/scss/helpers/mixins';

.page-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--bkg-1);
  //padding: 1rem;

  // .overlay {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background: rgba(0, 0, 0, 0.6);
  //   left: 0;
  //   top: 0;
  //   z-index: 2;
  // }

  .bkg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    //border-radius: 1rem;
    //background: radial-gradient(circle, rgba(221, 244, 255, 1) 0, rgba(155, 218, 250, 1) 65%, rgba(155, 218, 250, 1) 100%);
    //background: linear-gradient(to bottom, #FFF, #ddf4ff);
    //background: linear-gradient(to bottom, #FFF, #f9f8f5);
    //background: var(--bkg-1);
    background: var(--bkg-1);
    position: relative;
  }

  .page-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
  }
}

.stripe-patterns {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Optional: prevent interference */
  overflow: hidden;
  left: 0;
  top: 0;

  .pattern {
    position: absolute;
    background: rgba(#ddf4ff, 0.7);

    &:nth-child(1) {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: 12%;
      top: 25%;
    }

    &:nth-child(2) {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: 45%;
      top: 2%;
    }

    &:nth-child(3) {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      right: 10%;
      top: 20%;
    }

    &:nth-child(4) {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: rgba(#ddf4ff, 0.7);
      left: 10%;
      bottom: 10%;
    }

    &:nth-child(4) {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: rgba(#ddf4ff, 0.7);
      right: 10%;
      bottom: 10%;
    }
  }
}

.floating-items {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Optional: prevent interference */
  left: 0;
  top: 0;
  z-index: 3;

  .float {
    position: absolute;
    width: 80px; /* adjust size */
    height: auto;
  }

  .float1 { 
    top: 25%; 
    left: 20%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 6s ease-in-out infinite;
    }
  }

  .float2 { 
    top: 20%; 
    right: 20%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 5s ease-in-out infinite;
      animation-delay: 1s; /* desync movement */
    }
  }

  .float3 { 
    bottom: 35%; 
    left: 10%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 7s ease-in-out infinite;
      animation-delay: 0.5s;
    }
  }

  .float4 { 
    bottom: 10%; 
    left: 25%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 8s ease-in-out infinite;
      animation-delay: 1.5s;
    }
  }

  .float5 { 
    bottom: 12%; 
    right: 22%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 6s ease-in-out infinite;
      animation-delay: 2.5s;
    }
  }

  .float6 { 
    top: 52%; 
    right: 12%; 
    img {
      width: auto;
      height: 6rem;
      animation: floatUpDown 5s ease-in-out infinite;
      animation-delay: 0.5s;
    }
  }
}

@keyframes floatUpDown {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.pg-hdr {

  h1 {
    color: rgba(0, 0, 0, 1);
  }

  h2 {
    font-size: 3rem;
    letter-spacing: 0.04rem;
    font-family: var(--font-bold);
    //color: var(--primary-light);
    margin-top: 2rem;
  }

  p {
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    font-family: var(--font-regular);
    color: var(--text-dark-2);
  }

  .logo {
    width: auto;
    height: 7rem;

    @include screen-media-min(md) {
      height: 5rem;
    }
  }
}

.pg-body {
  width: 100%;
  position: relative;
  font-family: var(--font-family);
  z-index: 3;

  .auth-actions {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    color: var(--text-dark);

    @include screen-media-min(md) {
      font-size: 1rem;
    }
  }

  .disclaimer {
    font-size: 0.9rem;
    font-family: var(--font-family);
    letter-spacing: 0.05rem;
    color: var(--text-dark);
    text-align: center;

    i {
      color: var(--primary);
    }

    a {
      font-family: var(--font-regular);
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.pg-footer {
  width: 100%;
  height: 18rem;
  filter: grayscale(100%);
  opacity: 0.3;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
}

.form-group {
  width: 32rem;
  margin-top: 2rem;

  .field-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    gap: 1rem;

    @include screen-media-min(md) {
      font-size: 1rem;
    }

    .field {
      position: relative;

      .eyePass {
        top: 1rem;
        left: 95%;
        cursor: pointer;
        position: absolute;
        color: var(--text-dark);
        z-index: 4;
      }
    }
  }

  .field-group .field {
    flex: 1 1 100%;
  }

  .field-group .field.w-48 {
    flex: 1 1 48%;
  }
}