<div class="content-wrap">
    <div class="inner-wrap">
        <div class="row-section d-flex justify-content-between align-items-center">
            <div class="page-header">Expense Requests & History</div>
            <div class="main-actions d-flex justify-content-start align-items-center">
                <div (click)="openExpenseModal()" class="cta cta-primary icon lg"><app-icon [iconName]="'bankNoteDown'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon> Expense Application</div>
            </div>
        </div>

        <div class="row-section d-flex flex-wrap gap-3 mt-4">
            <div class="row-card">
                <div class="card-cont">
                    <div class="top">
                        <span class="card-title color-theme-primary">Expense Card</span>
                        <span class="grp-btn ms-lg-4" style="font-weight: 400;">
                            <div class="cta cta-primary xs">Renew Card</div>
                            <div class="cta cta-primary xs ms-lg-1">Withdraw</div>
                            <div class="cta cta-primary xs ms-lg-1">Change Limit</div>
                        </span>
                    </div>

                    <div class="card-wrap">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <div class="card-bg"></div>
                                    <div class="card-glow"></div>
                                    <div class="card-balance">
                                        <div class="hdr">Balance</div>
                                        <div class="amount">{{currency}} {{loggedInUser.expenseDetails.cardBalance | localeString}}</div>
                                    </div>
                                    <div class="card-circles"></div>
                                    <div class="card-contactless">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="56">
                                            <path
                                                fill="none"
                                                stroke="#f9f9f9"
                                                stroke-width="6"
                                                stroke-linecap="round"
                                                d="m35,3a50,50 0 0,1 0,50M24,8.5a39,39 0 0,1 0,39M13.5,13.55a28.2,28.5 0 0,1 0,28.5M3,19a18,17 0 0,1 0,18"
                                            />
                                        </svg>
                                    </div>
                                    <div class="card-chip"></div>
                                    <div class="card-holder">{{loggedInUser.fullName}}</div>
                                    <div class="card-number">1234 5678 9000 1234</div>
                                    <div *ngIf="loggedInUser.expenseDetails.expiryDate" class="card-valid">{{loggedInUser.expenseDetails.expiryDate | date: 'dd/MMM'}}</div>
                                    <div *ngIf="!loggedInUser.expenseDetails.expiryDate" class="card-valid">12/30</div>
                                </div>

                                <!-- <div class="card-back">
                                    <div class="card-signature">John Doe</div>
                                    <div class="card-seccode">123</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="card-details">
                            <div class="content">
                                <div class="det">
                                    <div class="minor">Card Holder</div>
                                    <div class="major">{{loggedInUser.fullName}}</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="det">
                                    <div class="minor">Date Issued</div>
                                    <div class="major">{{loggedInUser.expenseDetails.createdBy | date: 'mediumDate'}}</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="det">
                                    <div class="minor">Date of Expiry</div>
                                    <div class="major warning">{{loggedInUser.expenseDetails.cardExpiry | date: 'mediumDate'}}</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="det">
                                    <div class="minor">Card Limit</div>
                                    <div class="major">{{currency}} {{loggedInUser.expenseDetails.cardLimit}} monthly</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="det">
                                    <div class="minor">Current Month Expense</div>
                                    <div class="major">{{currency}} {{loggedInUser.expenseDetails.currentExpense}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-section mt-4">
            <app-dynamic-table
                [columns]="tableColumns"
                [showCheckbox]="true"
                [data]="expenseRecords"
                [paging]="paging"
                [filters]="tableFilters"
                [loading]="isLoading"
                [emptyDataMessage]="'No expense requests were found.'"
                [emptyDataImage]="'assets/img/project/illustrations/wallet.webp'"
                (rowClick)="openExpenseModal($event)"
                (pagingChange)="onPagingChange($event)"
                (searchChange)="onSearchChange($event)"
                (filterChange)="onFilterChange($event)"
            ></app-dynamic-table>
        </div>
    </div>
</div>