
form {
    overflow: hidden;
    .form-wrap {
        height: auto;
        padding-top: 0.5rem;
        max-height: 33rem;
        overflow: auto;
        gap: 1rem 0;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .btn-hld {
        display: flex;
        justify-content: end;
    }
}