@import 'src/assets/scss/helpers/mixins';

.pg-hdr {

    h1 {
        color: rgba(0, 0, 0, 1);
    }

    h3 {
        display: inline-block;
        font-size: 2.5rem;
        letter-spacing: 0.04rem;
        font-family: var(--font-medium);
        //color: var(--primary-light);
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        &.m-rd {
            margin-top: -2rem;
        }

        img {
            width: auto;
            height: 4rem;
        }
    }

    p {
        font-size: 1.1rem;
        line-height: 1.6;
        letter-spacing: 0.04rem;
        font-family: var(--font-regular);
        color: var(--text-dark-2);
    }

    .logo {
        width: auto;
        height: 4rem;
    }
}


.form-group {
    width: 100%;
    max-width: 35rem;

    .field-group {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.875rem;
        gap: 1rem;

        @include screen-media-min(md) {
            font-size: 1rem;
        }

        .field {
            position: relative;

            .eyePass {
                top: 1rem;
                left: 95%;
                cursor: pointer;
                position: absolute;
                color: var(--text-dark);
                z-index: 4;
            }
        }
    }

    .field-group .field {
        flex: 1 1 100%;
    }

    .field-group .field.w-48 {
        flex: 1 1 48%;
    }
}

.modules-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .module-hld {
        position: relative;
        padding: 1rem 1.5rem;
        // border: 2px solid var(--border-2);
        border-radius: 12px;
        background: white;
        //cursor: pointer;
        transition: all 0.25s ease;
        @include glass-effect;
        border-width: 2px;

        &:hover {
            // background: color-opacity(--primary-rgb, 0.02);
            // border-color: var(--primary);
            transform: translateY(-2px);
        }

        &.selected {
            border-color: var(--primary);
            box-shadow: var(--card-shadow);
            background: color-opacity(--primary-rgb, 0.02);

            .module-header {
                .icon {
                    background: var(--primary);
                    color: white;
                }
            }

            .select-indicator {
                background: var(--primary);
                border-color: white;

                i {
                    display: inline-block;
                }
            }

            .feature-chip {
                background: white;
            }
        }

        /* header */
        .module-header {
            display: flex;
            font-size: 1rem;
            font-family: var(--font-medium);
            color: var(--text-dark);
            align-items: center;
            gap: 0.8rem;
            margin-bottom: 0.75rem;

            .icon {
                width: 2.5rem;
                height: 2.5rem;
                display: inline-flex;
                border-radius: 0.5rem;
                background: var(--bkg-1);
                color: var(--black-tint);
                transition: all 0.4s ease;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
        }

        /* features as chips */
        .module-features {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;
        }

        .feature-chip {
            font-size: 0.85rem;
            letter-spacing: 0.03rem;
            font-family: var(--font-regular);
            padding: 0.2rem 0.8rem;
            font-size: 0.75rem;
            border-radius: 2rem;
            background: var(--bkg-4);
            color: var(--black-tint);
            white-space: nowrap;
        }

        /* top-right circle */
        .select-indicator {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            color: #fff;
            border-radius: 50%;
            border: 2px solid var(--border-2);
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            i {
                display: none;
                font-size: 1.2rem;
            }
        }
    }

    
}

.employees-grid {

    .employee-wrap {
        height: auto;
        max-height: 20rem;
        padding-top: 1rem;
        overflow: auto;
    }

    .employee-row {
        .delete-icon {
            width: 2.5rem;
            height: 2.5rem;
            display: inline-flex;
            justify-content: center;
            border-radius: 0.3rem;
            background: rgba(#eb5757, 0.1);
            margin-top: 0.3rem;
            align-items: center;
            font-size: 1.3rem;
            color: var(--warning);
            cursor: pointer;
        }
    }

    .actions {
        width: 100%;

        .cta {
            font-size: 0.85rem;
            font-family: var(--font-regular);
            width: auto;
            padding: 0.3rem 1rem;
            white-space: nowrap;
            border-radius: 0.3rem;

            &:first-child {
                border: 1px solid rgba(0, 0, 0, 0.06);
            }
        }
    }
}

.glass-card {
    width:100%;
    height: auto;
    padding: 0.3rem;
    border-radius: 0.5rem;
    @include glass-effect;

    color: #fff;

    .inner-wrap {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        background: white;
        border-radius: 0.3rem;
        color: var(--text-dark-2);

        h4 {
            font-size: 1.2rem;
            font-family: var(--font-medium);
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            li {
                font-size: 1rem;
                font-family: var(--font-regular);
                text-align: center;
                display: inline-flex;
                gap: 0.3rem;

                i {
                    color: var(--primary);
                }
            }
        }
    }
}