.upload-wrap {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius-md);
    border: 1px solid var(--white-tint);
    cursor: pointer;
    gap: 0.3rem;

    .icon {
        font-size: 1.8rem;
        color: var(--primary);
    }

    .info {
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        color: var(--white-tint);
    }

    .file-name {
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
    }
}

.profile {
  width: auto;
  border-radius: 50%;
  position: relative;

    .image {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .file-upload {
        display: none;
    }

    span {
        cursor: pointer;
        position: absolute;
        font-size: 1.1rem;
        bottom: 0;
        right: 0.3rem;
        z-index: 2;
    }
}
