// ----------------------------------------------------------------------------------------------
// SECTION Variables ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

$utilities: (
  "cursor": (
    property: cursor,
    class: cursor,
    responsive: false,
    values: pointer,
  )
);

// NOTE Color system ----------------------------------------------------------------------------

:root {
  --primary: rgb(65, 202, 200);
  --primary-rgb: 65, 202, 200;
  --secondary: #1E2355;
  --tertiary: #F45728;
  --primary-dark: #0A122F;

  --primary-light: rgba(36, 133, 129, 0.25);
  --primary-light-md: rgba(36, 133, 129, 0.4);
  --primary-lightest: #e6edf2;

  --font-family: 'PR';
  --font-light: 'PL';
  --font-regular: 'PR';
  --font-medium: 'PS';
  --font-bold: 'PB';
  --font-black: 'PB';

  //--bkg-1: #ddf4ff;
  --bkg-1: #f1faff;
  --bkg-2: #F9FAFE;
  --bkg-3: #f9f8f5;
  --bkg-4: #f1f5f9;

  --border-1: #D1D3D6;
  --border-2: #e0e6eb;

  --dark-1: #130F26;
  --dark-2: #252525;
  --dark-3: #424242;
  --dark-4: #767676;

  --text-dark: #4c4d56;
  --text-dark-2: #4c4d56e6;
  --text-dark-3: #334155;
  --text-dark-4: #8B8B8B;

  --border-black-lightest: rgba(0, 0, 0, 0.1);
  --border-grey-light: rgba(0, 0, 0, 0.1);
  --border-grey: #D1D3D6;

  --white: #fff;
  --white-tint: rgba(255, 255, 255, 0.5);
  --white-tint-md: rgba(255, 255, 255, 0.7);

  --black-tint-lg: rgba(0, 0, 0, 0.7);
  --black-tint: rgba(0, 0, 0, 0.6);
  --black-tint-md: rgba(0, 0, 0, 0.3);
  --black-tint-mmd: rgba(0, 0, 0, 0.2);
  --black-tint-sm: rgba(0, 0, 0, 0.04);

  --hdr-height: 8vh;

  //BORDER RADIUS
  --radius-xs: 4px;
  --radius-sm: 5px;
  --radius-md: 6px;
  --radius-mmd: 12px;
  --radius-lg: 15px;
  --radius-xl: 18px;

  --card-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-1: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  //TRANSITIONS
  --transition-norm: all 0.4s ease;

  //STATUS
  --success: #12a366;
  --warning: #eb5757;
  --warning-rgb: rgb(235, 87, 87);

  //CARD DIMENSIONS
  --card-xlg: 69.4%;
  --card-xmlg: 64.4%;
  --card-xmmd: 49%;
  --card-xmd: 34%;
  --card-xsm: 29%;
  --card-xxs: 20%;

  --card-ylg: 22rem;
  --card-ymd: 15rem;
  --card-ysm: 8rem;
  --card-yxs: 7rem;

  //COLOR THEMES
  --blue-theme: rgba(66, 133, 244, 1);
  --blue-theme-light: rgba(66, 133, 244, 0.25);
  --blue-theme-lightest: rgba(66, 133, 244, 0.07);

  --green-theme: rgba(54, 171, 104, 1);
  --green-theme-light: rgba(54, 171, 104, 0.25);
  --green-theme-lightest: rgba(54, 171, 104, 0.1);

  --red-theme: rgba(235, 87, 87, 1);
  --red-theme-light: rgba(235, 87, 87, 0.25);
  --red-theme-lightest: rgba(54, 171, 104, 0.1);

  --yellow-theme: rgba(229, 166, 71, 1);
  --yellow-theme-light: rgba(229, 166, 71, 0.25);
  --yellow-theme-lightest: rgba(229, 166, 71, 0.1);

  --orange-theme: rgba(235, 87, 87, 1);
  --orange-theme-lighht: rgba(235, 87, 87, 0.25);
  --orange-theme-lightest: rgba(235, 87, 87, 0.1);
}

$primary: #375F9B;
$secondary: #8492A6;
$text-muted: #ACA7AA;
$info: #375F9B; // #3C78DA;
$danger: #D0021B;
$success: #12a366;
$min-contrast-ratio: 2.5;


$btn-close-color: white;

//Responsive Breakpoints
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
