
.modal-container {
    position: relative;

    .close {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-flex;
        font-size: 1.2rem;
        border-radius: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        background: var(--warning);
        cursor: pointer;
        color: white;
        right: 1rem;
        top: 1rem;
    }
}