.pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.page-size-field {
    width: 140px;
}

.page-controls {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

button {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 0.85rem;
    font-family: var(--font-medium);
    border-radius: var(--radius-sm);
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--primary-light);
    align-items: center;

    &.active {
        background: var(--primary);
        color: white;
    }
}


.ellipsis {
    padding: 0 0.5rem;
    opacity: 0.6;
}