<div class="row-section d-flex justify-content-between align-items-center mt-2">
    <div class="page-header">Subscription Plans</div>
    <!-- <div class="main-actions d-flex justify-content-start align-items-center">
        <div class="cta cta-primary icon lg"><i class="bi bi-hdd-fill"></i>Save Changes</div>
    </div> -->
</div>

<div *ngIf="currentPlan" class="row-section d-flex justify-content-between mt-4">
    <div class="settings-card">
        <div class="top">
            <div class="name">
                <div class="img-wrap">
                    <img src="assets/img/project/illustrations/entity.png" alt="">
                </div>
                <div class="det">
                    <div class="label d-flex gap-3">
                        <span>Current Plan</span>
                        <span class="status approved">Active</span>
                    </div>
                    <div class="title">{{currentPlan.name}}</div>
                </div>
            </div>
            <div *ngIf="!subscriptionDetails?.activeSubscription?.isNonRenewing" class="auto-renew">
                <div class="label">Auto Renewal</div>
                <app-switch [(ngModel)]="autoRenew"></app-switch>
            </div>
        </div>

        <div class="btm">
            <div class="info">
                <div class="label">
                    <span><app-icon [iconName]="'layers'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon></span>
                    <span class="text-capitalize">{{currentPlan.interval === 'monthly' ? 'Monthly' : 'Annual'}} Price</span>
                </div>
                <div class="value">{{ getSubscriptionCurrency() }} {{(currentPlan.interval === 'monthly' ? currentPlan.amountPerMonth : currentPlan.amountPerYear).toLocaleString()}}/{{currentPlan.interval === 'monthly' ? 'month' : 'yr'}}</div>
            </div>
            <div class="info">
                <div class="label">
                    <span><app-icon [iconName]="'recycle'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon></span>
                    <span>Billing Cycle</span>
                </div>
                <div class="value">{{currentPlan.interval === 'monthly' ? 'Monthly' : 'Annually'}}</div>
            </div>
            <div class="info">
                <div class="label">
                    <span><app-icon [iconName]="'users'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon></span>
                    <span>Users</span>
                </div>
                <div class="value">{{currentPlan.min}} - {{currentPlan.max}}</div>
            </div>
            <div class="info">
                <div class="label">
                    <span><app-icon [iconName]="'calendarSync'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon></span>
                    <span>{{autoRenew ? 'Renewal Date' : 'Expiry Date'}}</span>
                </div>
                <div class="value">{{subscriptionDetails?.activeSubscription.accessExpiresAt | date: 'd MMM, yyyy'}}</div>
            </div>
            <div *ngIf="!subscriptionDetails?.activeSubscription?.isNonRenewing" class="info">
                <!-- <div class="label">
                    <span>Actions</span>
                </div> -->
                <div class="value">
                    <div (click)="cancelSubscription()" class="cta cta-warning icon md"><app-icon *ngIf="!cancelingSubscription" [iconName]="'circlex'" [iconStrokeWidth]="2" [iconWidth]="20" [iconHeight]="20"></app-icon> <span *ngIf="cancelingSubscription" class="loader"></span> Cancel Subscription</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="selectedPlan" class="row-section mt-4">
    <div class="settings-card">
        <div class="selector-wrap" [formGroup]="form">
            <div class="name d-flex align-items-center gap-3">
                <div class="img-wrap">
                    <img src="assets/img/project/illustrations/user.webp" alt="">
                </div>
                <div class="det">
                    <div class="label d-flex flex-column gap-1">
                        <span>Which plan fits best ?</span>
                        <span class="selected"><span>{{selectedPlan.name}}</span> plan</span>
                    </div>
                </div>
            </div>

            <div class="slider-wrap">
                <app-slider
                    formControlName="noOfUsers"
                    label="Select number of users"
                    [min]="0"
                    [max]="500"
                    [step]="5"
                >
                </app-slider>
            </div>

            <div class="input-wrap">
                <mat-form-field class="compact-field lg no-base" appearance="outline" [style.width]="'5rem'" color="primary">
                    <mat-label>Users</mat-label>
                    <input matInput min="0" type="number" formControlName="noOfUsers">
                </mat-form-field>
            </div>
        </div>
    </div>
</div> -->

<!-- <div *ngIf="selectedPlan" class="row-section subscribe my-5">
    <div class="d-flex align-items-center justify-content-between">
        <div class="action-info">
            <div class="info">
                <span *ngIf="planDifference !== 0">{{ planDifference > 0 ? 'Upgrade' : 'Downgrade'}} to <span class="plan">{{selectedPlan.name}}</span></span>
                <span *ngIf="planDifference === 0">You're on the <span class="plan">{{selectedPlan.name}}</span> plan</span>
            </div>
            <div *ngIf="planDifference !== 0" class="info">
                <span class="diff">
                    {{ planDifference > 0 ? '+' : planDifference < 0 ? '-' : '' }} ${{ Math.abs(planDifference) | number:'1.0-0' }}
                </span> 
                <span>/ yr</span>
            </div>
            <div *ngIf="planDifference === 0" class="info">
                <span>This is your current active plan</span>
            </div>
        </div>

        <div class="action d-flex align-items-center gap-3">
            <div class="price">{{'$'}} {{selectedPlan.price | localeString}} <span>/ yr</span></div>
            <div (click)="initSubscription()" class="cta cta-primary icon xl"><app-icon [iconName]="'userStar'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon> Subscribe to {{selectedPlan.name}} Plan</div>
        </div>
    </div>
</div> -->

<div *ngIf="currentPlan" class="row-section mt-5 d-flex justify-content-between align-items-center">
    <div class="form-trigger-wrap" style="width: 16rem;">
        <div class="inner">
            <div [class.shiftRight]="!billingCycleMonthly" id="" class="bkg-switch"></div>
            <div (click)="billingCycleMonthly = true" [class.active]="billingCycleMonthly" class="trigger monthly">Monthly</div>
            <div (click)="billingCycleMonthly = false" [class.active]="!billingCycleMonthly" class="trigger yearly">Yearly</div>
            <div class="perk">(10% off)</div>
        </div>
    </div>

    <div class="region-wrap">
        <mat-form-field class="field compact-field lg no-base" appearance="outline" [style.width]="'15rem'">
            <mat-label>Select Region</mat-label>
            <mat-select
                class="selectField"
                disableOptionCentering
                panelClass="compact-dropdown"
                [(ngModel)]="selectedRegion"
                style="font-size: 0.7rem;"
            >
                <mat-option *ngFor="let option of regionOptions | keyvalue: keepOrder" [value]="option.key">{{option.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div *ngIf="currentPlan" class="row-section mt-4 pb-4">
    <div class="subscriptions-wrap">
        <div *ngFor="let plan of subscriptionPlans; let i = index" class="subscription">
            <div class="name">{{plan.name}} <span *ngIf="i == 2">Plan</span></div>
            <div *ngIf="i < 2" class="price">
                {{ getSubscriptionCurrency() }}
                <span class="amount">{{ getSubscriptionPrice(plan) | localeString }}</span>
                <span> per {{ billingCycleMonthly ? 'month' : 'year' }}</span>
            </div>            
            <div class="preview">
                <div class="content">{{plan.featuresOverview}}</div>
                <div (click)="initSubscription(plan)" *ngIf="i < 2" class="cta cta-primary lg w-100 mt-3">Subscribe</div>
                <div *ngIf="i == 2" class="cta cta-primary lg w-100 mt-3">
                    <a href="mailto:hello@siloerp.io" class="text-white">Contact Sales</a>
                </div>
            </div>
            <div class="features">
                <ul>
                    <li>{{plan.featuresPreamble}}</li>
                    <li *ngFor="let feature of plan.features; let j = index">
                        <span class="icon"><i class="bi bi-check-lg"></i></span> {{feature}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
