.page-wrap {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .menu-sec {
        height: 100%;
        min-width: 200px;
        //max-width: 280px;
        background: var(--bkg-1);
        overflow-y: auto;
    }

    .main-page {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden; // prevents page scroll, scroll inside content if needed

        .header {
            flex: 0 0 auto;
            height: var(--hdr-height); // fixed header height (adjust as needed)
            background: #fff; // optional
            //border-bottom: 1px solid #ddd;
        }

        .page-content {
            flex: 1 1 auto;
            overflow-y: auto; // scrollable if content exceeds space
            padding: 0; // optional
            background: var(--bkg-2);
        }
    }
}
