.form-wrap {
    gap: 1rem 0;

    .field-wrap {
        position: relative;

        .cta-add {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.7rem;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: var(--radius-sm);
            transform: translateY(-50%);
            background: var(--primary);
            color: white;
            right: 0.4rem;
            top: 1.6rem;
        }
    }
}


.accordion {

    .accordion-item {
        background-color: white;
        border: 1px solid var(--primary-light);
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);
        border-radius: var(--radius-md);
    }
}