@import '../helpers/mixins';

.mat-mdc-dialog-container,
.mat-mdc-dialog-surface {
    border-radius: 0.7rem !important; // !important may be needed
}

.modal-wrap {
    padding: 1.5rem;

    .modal-header {
        display: flex;
        gap: 1.5rem;
        
        .illustration {

            .img-wrap {
                width: auto;
                height: 5rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .details {
            .title {
                font-size: 1.2rem;
                font-family: var(--font-medium);
                letter-spacing: 0.04rem;
                //color: var(--black-tint);
            }

            .preamble {
                font-size: 0.85rem;
                font-family: var(--font-regular);
                margin-top: 0.1rem;
                letter-spacing: 0.04rem;
                color: var(--black-tint);
            }
        }
    }

    .modal-body {
        margin-top: 2rem;
    }
}