<div class="modal-wrap">
    <section class="modal-header">
        <div class="illustration">
            <div class="img-wrap">
                <img src="assets/img/project/illustrations/user.webp" alt="">
            </div>
        </div>

        <div class="details">
            <div class="title">{{data.assignmentType == 'manager' ? 'Assign Manager' : 'Assign Approver'}}</div>
            <div class="preamble">Select the manager you want to assign.</div>   
        </div>        
    </section>

    <section class="my-3">
        <ul class="chip-wrap">
            <li *ngFor="let employee of data.selectedEmployees">{{employee.fullName}}</li>
        </ul>
    </section>

    <section class="modal-body">
        <app-dynamic-form
            [fields]="formFields"
            [isLoading]="isLoading"
            (formAction)="handleFormAction($event)"
        ></app-dynamic-form>
    </section>
</div>