
.cumulative {
    font-size: 0.8rem;
    font-family: var(--font-regular);
    letter-spacing: 0.03rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    background-color: var(--primary-lightest);
    color: var(--black-tint);
    margin-bottom: 1.5rem;

    .pay-hld {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .label {

        }

        .amount {
            font-family: var(--font-medium);
            color: black;

            &.deduction {
                color: var(--warning);
            }

            &.earning {
                color: var(--primary);
            }
        }
    }
}